parameters:
	excludePaths:
		- tests
		- src/Auth/Authorization/Infrastructure/JsonWebToken
	level: max
	paths: ['src']
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	checkExplicitMixed: false